Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-redundant-access-specifiers,
  -bugprone-easily-swappable-parameters
